[submodule "service-amqp-broker"]
	path = service-amqp-broker
	url = https://github.com/gotoiot/service-amqp-broker.git
[submodule "web-mqtt-client"]
	path = web-mqtt-client
	url = https://github.com/gotoiot/web-mqtt-client.git
[submodule "service-amqp-samples"]
	path = service-amqp-samples
	url = https://github.com/gotoiot/service-amqp-samples.git
